.custom-scrollbar::-webkit-scrollbar {
    width: 5px;  /* Largeur de la barre de défilement */
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: #555;  /* Couleur de fond de la piste */
    border-radius: 10px;  /* Bords arrondis de la piste */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #fff;  /* Couleur de la barre de défilement elle-même */
    border-radius: 10px;  /* Bords arrondis de la barre */
}
